body{
  width: 98%;
  background-image: url(https://images.alphacoders.com/718/thumb-1920-718668.jpg);
  text-align: center;
  background-size: cover;
}
.container {
  width: 200px;
  margin-left: 200px;
}
.container input {
  width: 90%;
  margin-bottom: 5px;
}
.main-contents{
  /*background-color: white;*/
  width: 600px;
  /*margin:0 auto;*/
  border-radius: 5px;
}
table{
  margin: 0 auto;
}
form{
  border: 1px solid black;
  padding: 10px;  
}
h1, h2{
  color: white;
}