@import '_variables';
//Landing page start

.landing-main-content-wrapper{
  height: 100%;
  background-image: url("../images/cr7-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  .landing-main-content{
    padding: 0px 0px 0px 0px;
     margin-left: 100px; 
    /* text-align: center; */
    position: relative;
    -webkit-animation: mymove 1s;
    -webkit-animation-fill-mode: forwards;
    animation: mymove 1s;
    animation-fill-mode: forwards;

      .main-content-header{
        margin-bottom: 10px;
        
        .landing-header-logo {
          position: absolute;
          left: 3%;
          top: -22%;
          z-index: 1;
          width: 55%;
        }
      }
      .landing-video{
        max-width: 50%;
        max-height:45%; 
      }

  }

}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

@media screen and (max-width: $break-medium) {
  .landing-main-content-wrapper{
    background-image: none;

    .main-content-header{
      .header-title{
        display: none;
      }
      #mobile-image{
        margin-top: -49px;
        width: 100%;
      }
    }
    .landing-main-content{
      margin-left:0px;

      .landing-video{
        text-align: center;
        max-width: 100%;
        margin-top: -10px;
        background-color: black;

        #video{
          padding: 10px;
        }
        #preorder1{
          display: none;
        }   
      }
    }
    #preorder2{
      margin-top: 100px;
      width: 100%;
    }
  }
  .chart-wrapper{
    width: 95% !important;
    height: 100%;
    margin: 50px 0px 0px 20px;
    margin-top: 50px;
  }
  .chart-side{
    display: none;
  }
}
@media screen and (min-width: $break-large){
  .landing-header-logo{
    display: none;
  } 
  #mobile-image{
      display: none;
  }
  #preorder2{
    display: none;
  }
  footer{
    display: none;
  } 
      
} 

@-webkit-keyframes mymove {
    from {top: -100px;}
    to {top: 100px;}
}

@keyframes mymove {
    from {top: -100px;}
    to {top: 100px;}
}

@media screen and (min-width: 495px) {
      .mobile-wrapper{
        display: none;    
      }
    }
@media screen and (max-width: 495px) {
  .landing-video{
    padding:1px;
  }
}

@media screen and (max-width: $break-small) {

  .radar-container {
    display: none;
  }
  .player {
    width: 40%;
    float: left;
    border-bottom-right-radius: 110px;
     > h3{
       font-size:3vw;
     }
     &.player-img-container{
      #player-photo {
        margin-top: 20%;
      }
     }
  }
  .player-data {
    width: 100% !important;
    margin: 0 0 0 0;
    #overall{
      > p{
        font-size: 4.5vw !important;
      }
      > span{
        font-size: 5vw !important;    
      }
    }
    .abilities{
      > p{
        font-size: 3.5vw !important;
      }
      > span{
        font-size: 3vw !important;
      }
    }
  }
}
//landing page end
