//player start (chart)

.chart-wrapper{
  width: 70%;
  height: 94%;
  margin: 50px 0px 0px 30px;
  padding: 50px;
  float: left;
  overflow: auto;

  .chart-container{
    width: 100%;
    margin: 0px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border: 1px solid #ccc;
    background-image: url(../images/playerbg2.png);
    background-size: cover;
    background-color: white;

    .player{
      width:30%;
      float: left;
      border-bottom-right-radius: 110px;
      &.player-info{
        background-image: url("../images/player_info_bg.jpg");
        background-size: cover;
        .player-name{
          margin-top: 10%;
        }
        > h3{
          font-size: 2vw;        
        }
        > img{
          width: 40%;
          display: list-item;
          margin: 0 auto;
          margin-top: 5%;
        }
      }
      .player-img-container{
        > img{
          margin-top: 20px;
        }
      }
    }
    .player-data{
      width: 38%;
      float: left;
      margin-top: 5%;
      border: 1px solid #ccc;
      border-radius: 8px;

      .ability-container{
        width: 100%;
        float: left;
        background-color: white;

        #overall{
          > p{
            margin: 0px 0 0px;
            font-weight: bolder;
            font-size: 1.5vw;
            background-color: dodgerblue;
            color: white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          > span{
            font-size: 1vw;
            font-weight: bolder;
          }
        }
        .abilities{
          width: 48%;
          float: left;
          margin: 1%;
          background-color: white;
          > p{
            margin: 0px 0 0px;
            font-weight: bolder;
            font-size: 1.5vw;
            background-color: dodgerblue;
            color: white;
          }
          > span{
            font-size: 1vw;
            font-weight: bolder;
          }
        }
      }
      .radar-container{
        width: 100%;
        float: left;
        background-color: white; 
      }
    }

  }
}
.chart-side{
    width: 25%;
    height: 100%;
    position: fixed;
    right: 35px;
    top:50px;
    padding-top: 60px;
  }

//top 10 player(chart end)