@import '_variables';
@import '_landing';
@import '_navbar';
@import '_home';
@import '_sidebar';
@import '_players';
@import '_profile';
@import '_footer';

body{
  width: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/fifatalk/appImages/background/home_bg1.jpg"); 
  background-size: cover;
  box-sizing: border-box;
  overflow: auto;
}

button{
  &.md-button{
    height: 50px !important;
    .md-avatar-icon{
      padding: 0 !important;
    }
  }
  &.mobile-form-button {
    width: 25%;
    height: 94px;
    margin: 5px 0px 0px 10px;
    float: left;
  }
  &.show-more{
    width: 100px;
    margin: 0 auto;  
  }
}

form{
  &.post-form{
    background-color: rgb(250,250,250);
    border: 1px solid #ccc;
    margin: 15px 0px 0px 0px;
    padding: 10px;
    
    &.profile-form{
      width: 280px;
      position: absolute;
      left: 5%;
      top: 21%;
      z-index: 2;
      min-width: 200px;
      border-radius: 4px;
      .form-group{
        .profile-upload-container{
          margin: 0px 0px 5px 0px;
          float: left;
        }
      }
      .btn-group{
        > input{
          width: 70px;
        }
      }
    }

    .form-upload{
      margin: 0px 0px 5px 0px;
    }
  }
  &.mobile-form{
    padding: 55px 10px 0px 10px;
    .mobile-form-textarea{
      width: 70%;
      float: left;
    }
    &.form-group{
      .mobile-form-upload{
        margin: 0px 0px 5px 0px;
        clear: both;
      }
    }
  }
  .invalid  {
    color: red;
  }
}

input{
  &.form-control{
    margin:5px 0 5px 0;    
  }
  .ng-valid{
    box-shadow: lightgreen;
  }
}

table{
  margin: 0 auto;
  th{
    text-align: center;
  }
  tbody{
    td{
      text-align: center;
      padding: 5px;
      .board-list-title{
        text-align: left;
      }
    }
  }
}

md-content{
  &.post{
    background-color: transparent;
    .avatar-image{
      border-radius: 50%;
    }
  }
  &.profile{
    margin:50px 0 0 0;
  }
  md-card{
    &.post-card{
      width:96% !important;
      box-sizing: border-box;
      flex-direction: column;
      margin: 0 auto !important;
      margin-top: 5px !important;
      margin-bottom: 6px !important;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;

      md-card-header-text{
        .viewcount{
          text-align: right;
        }
        .md-title{
          font-size: 1em !important;
        }
      }
      .post-board{
        margin: 20px 10px 10px 10px;
        text-align: center;
        padding:5px;
        
        #post-image{
          max-width:90%;
        }
        .post-text-box{
          max-width: 99%;
          word-wrap: break-word;
          border-radius: 5px;
          padding: 0px 0px 5px 5px;
          margin: 10px 0px 0px 5px;
          text-align: left;

          .post-text{
            margin: 20px 10px 10px 10px;
            padding:5px;
            background-color: #efefef;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: left;
             > p{
              font-size: 1em;
             }
          }
        }
      } 
    }
    &.comment-card{
      box-sizing: border-box;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      flex-direction: column;
      background-color:aliceblue;
      margin: 0px;

      .comment-text-box{
        max-width: 99%;
        word-wrap: break-word;
        border-radius: 5px;
        padding: 0px 0px 5px 5px;
        margin: 10px 0px 0px 5px;
        text-align: left;

        .comment-text {
          > p{
            padding: 10px 0px 0px 0px;
            margin:5px 0px 0px 10px    
          }
          #best-icon{
            float: left;
            margin-right: 5px;
          }
        }
      }
      md-card-content{
        height: 178px;
        overflow: auto;
      }
      md-card-actions{
        
      }
    } 
  }
  #comment-time-stamp{
    padding: 0px 0px 5px 20px;
  }
  .md-headline{
    text-align: center;
  }
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
} 

.temp.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}
.temp.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

