<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div layout="row">
                <div flex="30" flex-sm="40" flex-xs="30" flex-offset="40">
                  <div class="footer-header">
                    <h3>Terry Leem</h3>
                  </div>
                    <ul class="social">
                      <li><a href="http://taegyu-leem.herokuapp.com" target="_blank"><i class="fa fa-home"></i></a></li>
                      <li><a href="https://github.com/impersin/fifatalk" target="_blank"> <i class="fa fa-github"></i></a></li>
                      <li><a href="mailto:taegyuleem@gmail.com"> <i class="fa fa-envelope-o"></i></a></li>
                      <li><a href="https://www.youtube.com/user/EAsportsfootball" target="_blank"> <i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div> 
    </div> 
</footer>