
  <div class="landing-main-content-wrapper">
    <div class="landing-main-content">
      <div class="main-content-header">
        <div class="header-title">
          <h1>FIFA 18 COMING SOON</h1>
          <span><b>Release 9.21.2017</b></span>
        </div>
        <img class="landing-header-logo" src="images/fifa18_logo2.png" alt="FIFA 18 Cover">  
         <img id="mobile-image" src="images/cr7-main.jpg" alt="FIFA 18 Cover"> 
      </div>
      <div class="landing-video">
        <anguvideo id="video" ng-model="videoUrl" width="70%" height="70%"></anguvideo>
        <md-button id="more-video"ng-href="https://www.youtube.com/user/EAsportsfootball" target="_blank">more videos</md-button>
        <a href="https://www.easports.com/fifa/buy/usa" target="_blank" ><img id="preorder1" src="images/preorder.png" alt="" width="100%"></a>
      </div>
    </div>
       <a href="https://www.easports.com/fifa/buy/usa" target="_blank"><img id="preorder2" src="images/preorder.png" alt=""></a>
      <footer-component></footer-component>
  </div> 
