<div layout="row" layout-wrap class="landing-main-content-wrapper">
  <div flex="60" flex-offset-sm="15" flex-offset-xs="10" class="landing-main-content">
    <div class="main-content-header">
      <h1 id="landing-title">FIFA 18 COMING SOON</h1>
      <span id="release"><b>Release 9.21.2017</b></span>
    </div>
    <div class="landing-video">
      <anguvideo id="landing-video" ng-model="videoUrl" width="70%" height="45%"></anguvideo>
      <md-button id="more-video"ng-href="https://www.youtube.com/user/EAsportsfootball" target="_blank">more videos</md-button>
    </div>
  </div>
</div>