<div layout="column" class="sidebar">
  <h4 id="sidebar-header">Have a question?? Ask!</h4>
  <button  type="button" class="btn btn-primary btn-block" ng-click="toggleForm()">NEW POST</button>
  <div layout="row" layout-align="center" ng-show="toggle" class="temp">
    <div flex="80">
      <form name="postForm" class="post-form" role="search">
        <div class="form-group">
          <input ng-model="newPost.title" name="title" type="text" class="form-control" placeholder="Title" required>
          <span class="invalid" ng-show="postForm.title.$touched && postForm.title.$invalid">Title is required.</span>
          <textarea ng-model="newPost.text" name="text" class="form-control" placeholder="Text" required rows="4" cols="50"> 
          </textarea>
          <span class="invalid" ng-show="postForm.textBox.$touched && postForm.textBox.$invalid">This can't be empty</span>
          <div class="form-upload">
            <label for="file">Upload Image</label>
            <input type="file" name="file" file-model="file">
          </div>
            <button ng-disabled="postForm.$invalid" type="submit" class="btn btn-primary btn-block" ng-click="addPost()">POST</button>
          </div>
      </form>
    </div>
  </div>
    <div layout="column" layout-align="center" class="temp chat-container">
      <div flex="48">
        <div class="chat-wrapper">
          <div class="chat-header">
            <h4>chat box</h4>
          </div>
          <div class="chat-screen" scroll-bottom="messages">
            <Table class="chat-table">
              <thead>
              </thead>
              <tbody class="chat-body">
                <tr class="chat-list-message" ng-repeat="message in messages track by $index">
                  <td class="chat-user"><a href="" class="chat-message" id="{{'message'+$index}}"><b>{{message.userid}}:</b></a></td>
                  <td><div class="chat-bubble">{{" "+message.message}}</div></td>
                </tr>    
              </tbody>
            </Table>
          </div>
          <input class="form-control" type="text" ng-model="message.text" ng-keypress="sendMessage($event)" placeholder="Enter message" required>
        </div>
      </div>
    </div>
  <span us-spinner="{radius:30, width:8, length: 16}"></span>
</div>