<div>
  <h1>{{title}}</h1>
  <form>
    Player Name: <input type="text" ng-model="matchInfo.playerName" placeholder="Player Name"/><br>
    Match Location: <input type="text" ng-model="matchInfo.location" placeholder="Location"/><br>
    Match Duration: <input type="number" min="0" max="150" ng-model="matchInfo.duration"/><br>
    Player's Team: <input type="text" ng-model="matchInfo.playerTeam" placeholder="Player Name"/><br>
    Opponent Team: <input type="text" ng-model="matchInfo.opponent" placeholder="Player Name"/><br>
    Result: <select ng-model="matchInfo.result">
              <option>Win</option>
              <option>Lose</option>
            </select><br>
    <button ng-click="sendRecord()">Submit</button>
  </form>
    <Table>
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Match Location</th>
          <th>Match Duration</th>
          <th>Win Team</th>
          <th>Lose Team</th>
          <th>Fianl Score</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in matchResults">
        <td>{{match['Player Name']}}</td>
        <td>{{match['Match Location']}}</td>
        <td>{{match['Match Duration']}}</td>
        <td>{{match['Win Team']}}</td>
        <td>{{match['Lose Team']}}</td>
        <td>{{match['Final Score']}}</td>
      </tr>    
    </tbody>
    </Table>
</div>