<div>
  <h1>{{title}}</h1>
  <hr>
  <div class="main-contents">
  <h3>Match Results</h3>
  <label>Search: <input ng-model="searchInput" placeholder="Enter Plyers Name" id="searchbar"></label>
    <Table>
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Location</th>
          <th>Duration</th>
          <th>Win Team</th>
          <th>Lose Team</th>
          <th>Fianl Score</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in matchResults | filter:searchInput">
        <td>{{match['Player Name']}}</td>
        <td>{{match['Match Location']}}</td>
        <td>{{match['Match Duration']}}</td>
        <td>{{match['Win Team']}}</td>
        <td>{{match['Lose Team']}}</td>
        <td>{{match['Final Score']}}</td>
      </tr>    
    </tbody>
    </Table>
  </div> 
  <div class="container">
    <fieldset>
      <legend><h3>Please Enter Match Result</h3></legend>
      Player Name: <input type="text" ng-model="matchInfo.playerName" placeholder="Player Name"/><br>
      Match Location: <input type="text" ng-model="matchInfo.location" placeholder="Location"/><br>
      Match Duration: <input type="number" min="0" max="150" ng-model="matchInfo.duration"/><br>
      Player's Team: <input type="text" ng-model="matchInfo.playerTeam" placeholder="Player Name"/><br>
      Opponent Team: <input type="text" ng-model="matchInfo.opponent" placeholder="Opponent Team"/><br>
      Result: <select ng-model="matchInfo.result">
                <option>Win</option>
                <option>Lose</option>
              </select><br>
      Final Score: <input type="text" ng-model="matchInfo.score" placeholder="Won team : Lost team"/><br>        
      <button ng-click="sendRecord()">Submit</button>
    </fieldset>
  </div> 
</div>