body{
  width: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/fifatalk/appImages/background/home_bg1.jpg"); 
  background-size: cover;
  box-sizing: border-box;
  overflow: auto;
}

/*landing pase*/

#more-video{
  color: white;
}

.landing-main-content-wrapper{
  height: 100%;
  background-image: url("../images/cr7-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

.main-content-header{
  margin-bottom: 10px;
}

.landing-main-content{
    padding: 0px 0px 0px 0px;
     margin-left: 100px; 
    /* text-align: center; */
    position: relative;
    -webkit-animation: mymove 1s;
    -webkit-animation-fill-mode: forwards;
    animation: mymove 1s;
    animation-fill-mode: forwards;
}

.landing-video{
  max-width: 50%;
  max-height:45%; 
}

.mobile-wrapper{
  text-align: center;
}
.mobile-container > img{
  width:100%;
  padding-top: 51px;
}
img#order{
    width:100%;
    padding:1px;
  }

  .landing-header-logo {
    position: absolute;
    left: 3%;
    top: -22%;
    z-index: 1;
    width: 55%;
}

@media (max-width: 885px) {
  .header-title{
        display: none;
      }
      #video{
        padding: 10px;
      }
      .landing-main-content-wrapper{
       background-image: none;
      }
      .landing-main-content{
        margin-left:0px; 
      }
      .landing-video{
        text-align: center;
        max-width: 100%;
         margin-top: -10px;
        background-color: black;   
      }
       #mobile-image{
        margin-top: -49px;
        width: 100%;
      } 
      #preorder2{
        margin-top: 100px;
        width: 100%;
      }
      #preorder1{
        display: none;
      }
    }
     @media (min-width: 885px) {
      .landing-header-logo{
        display: none;
      } 
      #mobile-image{
         display: none;
      }
      #preorder2{
        display: none;
      }
       footer{
         display: none;
       } 
         
    } 

@-webkit-keyframes mymove {
    from {top: -100px;}
    to {top: 100px;}
}

@keyframes mymove {
    from {top: -100px;}
    to {top: 100px;}
}

@media (min-width: 495px) {
      .mobile-wrapper{
        display: none;    
      }
    }
@media (max-width: 495px) {
  .landing-video{
    padding:1px;
  }
}  

/*--------- nav  -----------*/

.navbar-brand{
  padding-top:0px;
}
.navbar{
  margin-bottom: 0;
  transition: top 0.2s ease-in-out;
}
#mobileAddButton{
  padding: 6px;
}
.mobile-form{
  padding: 55px 10px 0px 10px;
}
.mobile-form-upload{
  margin: 0px 0px 5px 0px;
  clear: both;
}
.mobile-form-file{

}

@media (min-width: 600px) {
      #mobileAddbutton{
        display: none;
      }
      .mobile-form{
        display: none;
      }
    }
.mobile-form-textarea{
  width: 70%;
  float: left;
}

button.mobile-form-button {
   width: 25%;
    height: 94px;
    margin: 5px 0px 0px 10px;
    float: left;
}

#profile{
  padding-bottom: 0px;
}

/* home page */
 
.home-wrapper{
  background-color: white;
  background-image: url("https://s3-us-west-1.amazonaws.com/fifatalk/appImages/background/home_bg1.jpg"); 
  background-size: cover;
} 

.home-contents{
  height: 100%;
  padding-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.home-header{
  padding-top:50px;
}

.home-header-image2 {
  position: relative;
  left: -350px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}

.home-header-image1{
  padding-top: 20px;
}

.fadein{
  animation: fadein 5s;
  -webkit-animation: fadein 4s; /* Safari and Chrome */
}


.home-posts{
  overflow:auto;
}

.avatar-image{
  border-radius: 50%;
}

.home-posts::-webkit-scrollbar {
  /* Safari and Chrome  */
    display: none;
}
.home-contents::-webkit-scrollbar {
  /* Safari and Chrome  */
    display: none;
}

.home-posts-header{
  padding-top: 15px;
  text-align: center;
}
md-content.post{
  background-color: transparent;
}

.viewcount{
  text-align: right;
}
.md-title{
  font-size: 1em !important;
}

#post-image{
  max-width:90%;
}

div.post-board{
  margin: 20px 10px 10px 10px;
  text-align: center;
  padding:5px;
} 
div.post-text{
  margin: 20px 10px 10px 10px;
  padding:5px;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
div.post-text-box{
  max-width: 99%;
  word-wrap: break-word;
  border-radius: 5px;
  padding: 0px 0px 5px 5px;
  margin: 10px 0px 0px 5px;
  text-align: left;
  /* border: 1px solid; */
}
div.post-text > p{
  font-size: 1em;
}
.md-button{
  height: 50px !important;
}

.md-avatar-icon{
  padding: 0 !important;
}
 
button.show-more{
  width: 100px;
  margin: 0 auto;
}

.comment-card{
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: aliceblue;
  box-shadow:0 0px 0px 0 rgba(0,0,0,.2),0px 0px 0px 0 rgba(0,0,0,.14),0 0px 1px 1px rgba(0,0,0,.12)
}
.comment-header{
padding: 10px 0px 0px 15px;
}
.comment-text-box{
  max-width: 99%;
  word-wrap: break-word;
  border-radius: 5px;
  padding: 0px 0px 5px 5px;
  margin: 10px 0px 0px 5px;
  text-align: left;
}
.comment-text > p{
  padding: 10px 0px 0px 0px;
  margin:5px 0px 0px 10px
}
#comment-time-stamp{
  padding: 0px 0px 5px 20px;
}
.comment-vote-button{

}
#best-icon{
  float: left;
  margin-right: 5px;
}

@media (max-width:600px){
  #home-footer{
    display: none;
  }
}

@media(hover: hover) {
    
}

/*-------- sidebar ----------*/
.sidebar-wrapper{
  margin-right: 30px;
}
.side-menu{
  border: 1px solid red;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
}
     
  

/*result page*/

.result-wrapper{
  width: 100%;
  height: 100%;
  background-image: url("../images/results_sample.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top:25px;
}

.result-contents-header{
  text-align:center;
 padding-top:20px;
}
.result-contents{
  /*width:600px;
  height: 600px;*/
  background-color: white;
  margin-top:20px;
}

th{
  text-align: center;
}
td{
  text-align: center;
  padding: 5px;
}
.about-contents,.main-contents{
  margin-left: 150px;
  margin-top: 50px;
}
.about{
  width:500px;
  height: 500px;
  overflow: auto;
}

.form-control{
  margin:5px 0 5px 0;
}

.invalid  {
  color: red;
}*/
input.ng-valid {
    box-shadow: lightgreen;
}

/*profile*/
#profile-form{
  max-width: 200px;
  border-radius: 4px;
}

.profile-wrapper{
  width: 100%;
  height: 100%;
  background-image: url('../images/footer_sample.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

md-content.profile{
  margin:50px 0 0 0;
}
.post-card{
  width:96% !important;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 auto !important;
  margin-top: 5px !important;
  margin-bottom: 6px !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

md-card-content{
  height: 178px;
  overflow: auto;
}
.md-headline{
  text-align: center;
}
table{
  margin: 0 auto;
}
th{
  text-align: center;
  padding: 5px;
}
td{
  text-align: center;
  padding: 5px;
} 


 .box {         
		  color:white;
		  padding:10px;
		  text-align:center;
		  border-style: inset;
}
.profile-upload-container{
  margin: 0px 0px 5px 0px;
  float: left
}

#profile-form1 {
  width: 280px;
  position: absolute;
  left: 5%;
  top: 21%;
  z-index: 2;
}
.btn-group > input{
  width: 70px;
}

/*sidebar*/

.sidebar{
  margin: 35px 0px 0px 0px;
  overflow: auto;
}
#sidebar-header{
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}
form.post-form{
  background-color: rgb(250,250,250);
  border: 1px solid #ccc;
  margin: 15px 0px 0px 0px;
  padding: 10px;
}

.form-upload{
  margin: 0px 0px 5px 0px;
}
.chat-header{
  text-align: center;
}
.chat-screen{
  height: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  overflow: auto;
}
table.chat-table{
  margin-left:0px;
}
.chat-user{
vertical-align: text-top;
}
.chat-list-message{
  border: 0px solid white;
}
td.chat-text{
max-width:310px;
}
.chat-bubble{
  width: 96%;
  word-wrap: break-word;
  background-color: #ededed;
  border-radius: 5px;
  padding: 0px 0px 5px 5px;
  margin: 0px 0px 0px 5px;
  text-align: left;
}
input#chat-input{

}
.temp.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}
.temp.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}
.board-container{
  margin: 30px 0px 0px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.board-header > a{
  display: inline-block;
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 10px 0px;
}
.board-screen{
  width:50%;
  text-align: left;
  margin:0 auto;
}
.board-list-title{
  text-align: left;
}
.board-list-number{
 
}
.board-list > a{
  padding: 10px;
  list-style: none;
}

/*-------------------- players ----------------------- */
.chart-wrapper{
  width: 70%;
  height: 94%;
  margin: 50px 0px 0px 30px;
  padding: 50px;
  float: left;
  overflow: auto;
}
.chart-container{
  width: 100%;
  margin: 0px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  overflow: auto;
  border: 1px solid #ccc;
  background-image: url(../images/playerbg2.png);
  background-size: cover;
  background-color: white;
} 
.player-info{
  background-image: url("../images/player_info_bg.jpg");
  background-size: cover;
}
.player > h3{
  font-size: 2vw;
}
#player-name{
  margin-top: 10%;
}

.player-info > img{
  width: 40%;
  display: list-item;
  margin: 0 auto;
  margin-top: 5%;
}
#player-photo{

}
#country-flag{
  clear: both;
}
.player{
  width:30%;
  float: left;
  border-bottom-right-radius: 110px;
}
.player-data{
  width: 38%;
  float: left;
  margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.ability-container{
  width: 100%;
  float: left;
  background-color: white;
}
.abilities{
  width: 48%;
  float: left;
  /* border: 1px solid purple; */
  margin: 1%;
  background-color: white;
}
#overall > p{
  margin: 0px 0 0px;
  font-weight: bolder;
  font-size: 1.5vw;
  background-color: dodgerblue;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.abilities > p {
  margin: 0px 0 0px;
  font-weight: bolder;
  font-size: 1.5vw;
  background-color: dodgerblue;
  color: white;
}
#overall > span{
  font-size: 1vw;
  font-weight: bolder;
}
.abilities > span{
  font-size: 1vw;
  font-weight: bolder;
}
.radar-container{
  width: 100%;
  float: left;
   background-color: white; 
}

.chart-side{
  width: 25%;
  height: 100%;
  position: fixed;
  right: 35px;
  top:50px;
}

.chart-wrapper::-webkit-scrollbar {
  /* Safari and Chrome  */
    display: none;
}
.chart-wrapper::-webkit-scrollbar {
  /* Safari and Chrome  */
    display: none;
}

@media (max-width: 885px) {
  .chart-side{
    display: none;
  }
  .chart-wrapper{
    width: 100%;
    height: 100%;
    margin: 50px 0 0 20px;
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .player-img-container{
    display: none;
  }
  .radar-container {
    display: none;
}
  .player-data {
    width: 60%;
  }
  #overall > p {
    font-size: 4.5vw;
  }
  .abilities > p {
    font-size: 3.5vw;
  }
  #overall > span {
    font-size: 5vw;
  }
  .abilities > span {
    font-size: 3vw;
  }
  .player > h3 {
    font-size: 3vw;
  }
}


/*footer*/
.footer {
	width: 100%;
	height: auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 0px 50px 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
  padding-left: 25px;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  padding: 8px 4px 0px 0px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-up {
    top: -50px;
}

